<a href="https://colab.research.google.com/github/Naeema-k/GitHub-Tasks/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class 1-Python

In [ ]:
#variable -> data container
num1=10
print(num1)
#num1=10
@num1=10
Num1=10
-num1-=10
_num1_=10
-Num1_=10

SyntaxError: ignored

In [ ]:
#datatype -> typeof the data which is stored inside a variable
#Int->whole number does not contain a decimal number
num=10
print(num)
print(type(num))

10
<class 'int'>

In [ ]:
#float -> decimal number
num1=345.4
print(num1)
print(type(num1))

345.4
<class 'float'>

In [ ]:
# add
num2=123
num3=23.45
num4=num2+num3
print(num4)

146.45

In [ ]:
#String -> set of characters written in a single or double quotation is string
name='Introduction to Python'
print(name)
print(type(name))

Introduction to Python
<class 'str'>

In [ ]:
# Boolean -> true or false
print(3>7)

False

In [ ]:
#Conctenation
num1=100
num2=34.345
print('The addition od two values are',(num1+num2))

The addition od two values are 134.345

In [ ]:
#concatenation
name1='hello'
name2='worls'
print(name1,name2)

hello worls

In [ ]:
x=input("Enter the value")
y=input("Enter the second value")
print("The difference of two values are",(x+y))

Enter the valuea
Enter the second valueb
The difference of two values are ab

In [ ]:
x=int(input("Enter the value"))
y=int(input("Enter the second value"))
print("The difference of two values are",(x-y))
print(type(x))
print(type(y))

Enter the value19
Enter the second value9
The difference of two values are 10
<class 'int'>
<class 'int'>

In [ ]:
'''collective datatyoes in python
List
Tuple
Set
Dictionary'''

#List-> collection of data, ordered, it's mutable, []
mylist=["Data","A","TAsk","Schedule",544,True,245,61]
print("The value of mylist is",mylist)
print(mylist)
print(type(mylist))
#Index value -> prints individual data
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])

# changeable
# Update
mylist[-3]=False
print("the updated values if list is",mylist)
mylist[1]='B'
print(mylist)

The value of mylist is ['Data', 'A', 'TAsk', 'Schedule', 544, True, 245, 61]
['Data', 'A', 'TAsk', 'Schedule', 544, True, 245, 61]
<class 'list'>
Data
A
TAsk
61
245
True
the updated values if list is ['Data', 'A', 'TAsk', 'Schedule', 544, False, 245, 61]
['Data', 'B', 'TAsk', 'Schedule', 544, False, 245, 61]

In [ ]:
#append(add)
mylist.append("Details") #can add only one element using .append()
print("The values after adding are",mylist)

The values after adding are ['Data', 'B', 'TAsk', 'insert', 'Schedule', 544, False, 245, 61, 'Details', 'Details', 'Details', 1, 23, 456, 'Details']

In [ ]:
#insert
mylist.insert(3,"insert") #inserts at index 3 and pushes the succeeding values...
print("The values after adding are",mylist)

The values after adding are ['Data', 'B', 'TAsk', 'insert', 'Schedule', 544, False, 245, 61, 'Details', 'Details', 'Details']

In [ ]:
list1=[1,23,456]
#extend
mylist.extend(list1)
print("The value of list is",mylist)

The value of list is ['TAsk', 'insert', 'Schedule', False, 245, 61, 'Details', 'Details', 1, 23, 456, 'Details', 1, 23, 456]

In [ ]:
#Remove
mylist.remove('Schedule')
print("The values are",mylist)

NameError: ignored

In [ ]:
#delete
del mylist[0]
print(mylist)

['insert', 'Schedule', False, 245, 61, 'Details', 'Details', 1, 23, 456, 'Details', 1, 23, 456]

In [ ]:
del mylist
print(mylist)

NameError: ignored

#all my syntax is right. Ignore the errors... my order of execution went wrong.. so please ignore

In [ ]:

list1=[1,2]
list2=[3,4]
list1.extend(list2)
print(list1)

[1, 2, 3, 4]

In [ ]:
#tuple -> ordered collection of datatypes, (),
mytuple=("Dell",534,"HP",34.6,False)
print(mytuple)
print(len(mytuple))

('Dell', 534, 'HP', 34.6, False)
5

In [ ]:
#Dictionary -> {}, key and values
mydic={
    "username":"Admin",
    "Password":"Pass",
    "Batch":2023
}
print(mydic)
print(mydic["username"])

#update
mydic["username"]=("Admin123","Admin") #adding more values to a key
print("The values after updating are",mydic)

mydic["Course"]="Python" #adding a new key and its value
print("The values are",mydic)

list1=[1,23,34,5]
mydic["Password"]=list1 #list inside a tuple?
print("The values are",mydic)

mydic.pop("username") #username vanished
print("The values are",mydic)

#updating the key
new=mydic["Course"]
del mydic["Course"]
mydic["Learning"]=new
print(mydic)

# del mydic
# print(mydic)

{'username': 'Admin', 'Password': 'Pass', 'Batch': 2023}
Admin
The values after updating are {'username': ('Admin123', 'Admin'), 'Password': 'Pass', 'Batch': 2023}
The values are {'username': ('Admin123', 'Admin'), 'Password': 'Pass', 'Batch': 2023, 'Course': 'Python'}
The values are {'username': ('Admin123', 'Admin'), 'Password': [1, 23, 34, 5], 'Batch': 2023, 'Course': 'Python'}
The values are {'Password': [1, 23, 34, 5], 'Batch': 2023, 'Course': 'Python'}
{'Password': [1, 23, 34, 5], 'Batch': 2023, 'Learning': 'Python'}

In [ ]:
print(mydic["Admin"]) #must use key to get value, not vice versa

KeyError: ignored

In [ ]:
#set -> unordered, unindexed collection of datatypes, {}, doesn't contain a duplicate value (unlike dictionary)

myset={"data","task",12,354.6,False,12,12}
print(myset)

# add

myset.add("True")
print(myset)

{False, 354.6, 'task', 'data', 12}
{False, 'True', 354.6, 'task', 'data', 12}

In [ ]:
set1={1,23,4,5,67,8}
set2={2,34,0,56,3}
set3=set1.union(set2)
print(set3)

{0, 1, 2, 67, 4, 5, 3, 34, 8, 23, 56}

In [ ]:
Dec={'we':12,'we1':12} #what is this???
print(Dec)

{'we': 12, 'we1': 12}

In [ ]:
set4=set1|set2
print(set4)

{0, 1, 2, 67, 4, 5, 3, 34, 8, 23, 56}

In [ ]:
set3=myset|set1
print(set3)

{False, 1, 354.6, 67, 4, 5, 8, 'data', 12, 'True', 23, 'task'}

In [ ]:
set3=myset.intersection(set1)
print(set3)

set()

In [ ]:
set1={1,23,4,5,67,8}
set2={2,34,0,56,3,1}
set3=set1&set2
print(set3)

{1}

In [ ]:
set4=set1.difference(set2)
print(set4)

{67, 4, 5, 8, 23}

In [ ]:
set2.clear()
print(set2)

set()

In [ ]:
#Assignment 1
#Create two different examples for collective datatypes in python

Class 4

In [ ]:
print("Hello all \nGood evening \nWelcome back to the class")

Hello all
Good evening
Welcome back to the class

In [2]:
# Function=> A set of data will be executed whenever you call it

def a():
  print("Hello all \ngood evening everyone \nwelcome back to the class")
a()
a()
a()

Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class

In [15]:
def add(num1,num2):
  print("The addition of two values are",(num1+num2),"The difference of two values are",(num1-num2))

add(2,3)
add(3,4)

The addition of two values are 5 The difference of two values are -1
The addition of two values are 7 The difference of two values are -1

In [10]:
def add1():
  num1=int(input("Enter the first number: "))
  num2=int(input("Enter thw second number: "))3
  print("The values are",(num1+num2))
add1()

Enter the first number: 10
Enter thw second number: 3
The values are 13

In [12]:
def a(name):
  print("My favourite cartoon name is",name)
a("Jerry")

My favourite cartoon name is Jerry

In [16]:
#for loop (printing the data one after the other)
a=5
for x in range(2,a):
  print(x)

2
3
4

In [19]:
for y in range(11):
  print("The values are",y)

The values are 0
The values are 1
The values are 2
The values are 3
The values are 4
The values are 5
The values are 6
The values are 7
The values are 8
The values are 9
The values are 10

In [18]:
for y in range(1,11):
  print("The values are",y)

The values are 1
The values are 2
The values are 3
The values are 4
The values are 5
The values are 6
The values are 7
The values are 8
The values are 9
The values are 10

In [20]:
mylist=["Data","A","Task","Schedule",544,True,245,61]
print(mylist)
for a in mylist:
  print(a)

['Data', 'A', 'Task', 'Schedule', 544, True, 245, 61]
Data
A
Task
Schedule
544
True
245
61

In [23]:
num=int(input("Enter the range: "))
for i in range(1,num+1):
  print(i)

num1=("hi","hello","sample","on","for","loop",1,2,3,4)
for i in num1:
  print("The values  in tuple are:",i)

Enter the range: 9
1
2
3
4
5
6
7
8
9
The values  in tuple are: hi
The values  in tuple are: hello
The values  in tuple are: sample
The values  in tuple are: on
The values  in tuple are: for
The values  in tuple are: loop
The values  in tuple are: 1
The values  in tuple are: 2
The values  in tuple are: 3
The values  in tuple are: 4

In [24]:
def a():
  for b in range(5):
    print("Hello all")
a()

Hello all
Hello all
Hello all
Hello all
Hello all

In [25]:
def x():
  for i in range(0,-5,-1):
    print("Hey")
x()

Hey
Hey
Hey
Hey
Hey

In [28]:
if(2>6):
  print("the ffirst number is greater")
elif(2=="2"):
  print("the second number is greater")
else:
  print("None")

None

In [33]:
def quiz():
  n=input()
  if n==("a","b","d"):
    print("you have lost")
  elif n=="c":
    print("you have won")
quiz()

c
you have won